<h1 class="page-title">
    {{i18n "Campaigns"}} <i class="fa fa-angle-double-right"></i> <strong data-tie="text: name, default: {{i18n 'New campaign'}}"></strong>
</h1>
<div class="page-column-left">
    <label>{{i18n "Callsign"}}</label>
    <p><input type="text" class="form-control js-name-input" placeholder="{{i18n 'Enter name'}}" data-tie="value: name"></p>
    <div class="js-schedule mth"></div>
    <h5 class="action-toggle-advanced clickable">
        {{i18n "Advanced"}}
        <small><i class="fa" data-tie="class: advancedOptionsChevron"></i></small>
    </h5>
    <div class="js-advanced" data-tie="visible: advancedOptionsExpanded"></div>
</div>
<div class="page-column-right">
    <label>{{i18n "Phases"}}</label>
    <p>TODO</p>
</div>
<hr class="clearfix page-section-separator">
<button class="btn btn-primary pull-right action-save">{{i18n "Save"}}</button>
<button class="btn pull-right mrs action-cancel">{{i18n "Cancel"}}</button>
