<div class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{i18n "Name"}}:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="{{i18n 'Name'}}" data-laces-property="name">
        </div>
    </div>
    <h5>{{i18n "Actions"}}</h5>
    {{#each actions}}
    <div class="form-group js-action" data-action-index="{{@index}}">
        <label class="col-sm-11" data-laces-property="actions[{{@index}}].description"></label>
        <div class="col-sm-1">
            <a class="glyphicon glyphicon-minus action-remove-action"></a>
        </div>
    </div>
    {{/each}}
    <div class="form-group">
        <label class="col-sm-11 control-label"></label>
        <div class="col-sm-1">
            <a class="glyphicon glyphicon-plus action-add-action"></a>
        </div>
    </div>
    <h5 class="action-toggle-advanced clickable">
        <small><i class="glyphicon glyphicon-chevron-right js-chevron"></i></small>
        {{i18n "Advanced"}}
    </h5>
    <div class="form-group js-advanced" style="display: none">
        <label class="col-sm-2 control-label">{{i18n "Shell"}}:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="{{defaultShell}}" data-laces-property="shell">
        </div>
    </div>
</div>
