<div class="alert alert-danger">
    <p><strong>{{i18n "A serious error has occurred in the C.I. Joe server."}}</strong></p>
    <p>{{message}}</p>
    <p><strong>{{i18n "Exception:"}}</strong> {{exception}}</p>
    <p><a class="action-show-stacktrace">{{i18n "Show stack trace"}}</a></p>
</div>
