<h1 class="page-title">
    {{i18n "Missions"}}
    <a class="page-title-button btn btn-primary action-new"><i class="fa fa-plus"></i> {{i18n "Add mission"}}</a>
</h1>
<table class="table-flat">
    <thead class="table-flat-head">
        <tr>
            <td class="c05">{{i18n "Status"}}</td>
            <td class="c45">{{i18n "Name"}}</td>
            <td class="c15">{{i18n "Last success"}}</td>
            <td class="c15">{{i18n "Last failure"}}</td>
            <td class="c20">{{i18n "Actions"}}</td>
        </tr>
    </thead>
    <tbody class="js-items"></tbody>
</table>
