<label>{{i18n "Execute this campaign..."}}</label>
<div data-tie="radio: scheduleType">
    <div class="mts">
        <label data-tie="class: manualLabelClass">
            <input type="radio" value="manual" class="inline-radio mrs">
            {{i18n "Only when explicitly ordered"}}
        </label>
    </div>
    <div class="mts">
        <label data-tie="class: hourlyLabelClass">
            <input type="radio" value="hourly" class="inline-radio mrs">
            {{i18n "Every hour"}}
            <span class="text-normal" data-tie="visible: hourlySchedule">
                {{i18n "at"}}
                <input type="number" class="inline-control js-hourly-minute" data-tie="value: minute" style="width: 4em">
                {{i18n "minutes"}}
            </span>
        </label>
    </div>
    <div data-tie="visible: hourlySchedule">
        <div class="col-sm-12">
            <label class="text-normal mll">
                <input type="checkbox" class="inline-checkbox js-hourly-except-hours" data-tie="checked: exceptHours">
                {{i18n "Except from"}}
            </label>
            <input type="time" step="01:00" class="inline-control js-except-hour-start" data-tie="value: exceptHourStart">
            {{i18n "till"}}
            <input type="time" step="01:00" class="inline-control js-except-hour-end" data-tie="value: exceptHourEnd">
        </div>
        <div class="col-sm-12">
            <label class="text-normal mll">
                <input type="checkbox" class="inline-checkbox js-hourly-except-days" data-tie="checked: exceptDays">
                {{i18n "Except on"}}
            </label>
            <select class="js-excluded-days js-hourly-excluded-days" multiple style="width: 15em"></select>
        </div>
    </div>
    <div class="mts">
        <label data-tie="class: dailyLabelClass">
            <input type="radio" value="daily" class="inline-radio mrs">
            {{i18n "Every day"}}
            <span class="text-normal" data-tie="visible: dailySchedule">
                {{i18n "at"}}
                <input type="time" class="inline-control js-daily-time" data-tie="value: time">
            </span>
        </label>
    </div>
    <div data-tie="visible: dailySchedule">
        <div class="col-sm-12">
            <label class="text-normal mll">
                <input type="checkbox" class="inline-checkbox js-daily-except-days" data-tie="checked: exceptDays">
                {{i18n "Except on"}}
            </label>
            <select class="js-excluded-days js-daily-excluded-days" multiple style="width: 15em"></select>
        </div>
    </div>
    <div class="mts">
        <label data-tie="class: weeklyLabelClass">
            <input type="radio" value="weekly" class="inline-radio mrs">
            {{i18n "Every week"}}
            <span class="text-normal" data-tie="visible: weeklySchedule">
                {{i18n "on"}}
                <select class="js-weekly-day" style="width: 8em"></select>
                {{i18n "at"}}
                <input type="time" class="inline-control js-weekly-time" data-tie="value: time">
            </span>
        </label>
    </div>
    <div class="mts">
        <label data-tie="class: customLabelClass">
            <input type="radio" value="custom" class="inline-radio mrs">
            {{i18n "According to a custom schedule"}}
        </label>
    </div>
    <div data-tie="visible: customSchedule">
        <div class="col-sm-12">
            <span class="col-sm-3 text-right mts">{{i18n "Day(s):"}}</span>
            <select class="js-custom-days" multiple placeholder="{{i18n 'Every day'}}" style="width: 15em"></select>
        </div>
        <div class="col-sm-12">
            <span class="col-sm-3 text-right mts">{{i18n "Hour(s):"}}</span>
            <select class="mtt js-custom-hours" multiple placeholder="{{i18n 'Every hour'}}" style="width: 15em"></select>
        </div>
        <div class="col-sm-12">
            <span class="col-sm-3 text-right mts">{{i18n "Minute(s):"}}</span>
            <select class="mtt js-custom-minutes" multiple placeholder="{{i18n 'Every minute'}}" style="width: 15em"></select>
        </div>
    </div>
</div>
